<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="app-container">
    <form action="/update/confirm" method="post">
        <input type="text" name="update_title" id="update_title" placeholder='title'>
        <input type="text" name="update_url" id="update_url" placeholder='url'>
        <input type="submit" value='Update'>
    </form>
    </div>
</body>
</html>